In [1]:
!pip install --upgrade openpyxl
import openpyxl
import pandas as pd
import numpy as np
!pip install xlsxwriter
!pip install xlrd
from google.colab import drive 
drive.mount('/content/drive')
%cd '/content/drive/My Drive/Colab Notebooks/TFG'

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 7.6 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/TFG

In [2]:
!ls

acoruña_datos.xlsx  percentiles		valencia_datos.xlsx
madrid_datos.xlsx   sevilla_datos.xlsx	warm_cold_days.ipynb

In [3]:
datos_madrid = 'madrid_datos.xlsx'
df_madrid = pd.read_excel(datos_madrid)
tn = df_madrid.columns

In [4]:
spring = df_madrid[df_madrid.month.isin([3,4,5])]
summer = df_madrid[df_madrid.month.isin([6,7,8])]
fall = df_madrid[df_madrid.month.isin([9,10,11])]
winter = df_madrid[df_madrid.month.isin([12,1,2])]
winter_tn10 = -5
winter_tn90 = 72
winter_tx10 = 66
winter_tx90 = 146
summer_tn10 = 128
summer_tn90 = 213
summer_tx10 = 236
summer_tx90 = 350
fall_tn10 = 40
fall_tn90 = 170
fall_tx10 = 113
fall_tx90 = 285.1
spring_tn10 = 32
spring_tn90 = 129
spring_tx10 = 118
spring_tx90 = 250

In [46]:
def years_new (i,f):
  years = []
  while i <= f:
    years.append(i)
    i+=1 
  return years
years = years_new(1950,2019)
years_data = {'year': years}
df = pd.DataFrame(years_data)

    year
0   1950
1   1951
2   1952
3   1953
4   1954
..   ...
65  2015
66  2016
67  2017
68  2018
69  2019

[70 rows x 1 columns]

warm days

In [40]:
from numpy.lib.function_base import percentile
def warm_days_TN (percentil,year_i,year_f,season):
  i = year_i 
  warm_day = []
  while i < year_f:
    year = season[season.year.isin([i])]
    days = len(year[year.TN > percentil])
    
    warm_day.append(days)
    
    i += 1 
  return warm_day
def winter_warm_d_TN(percentil,i,f,season):
  r = [0]
  while i < f:
    x = season[season.year.isin([i]) & season.month.isin([12])]
    y = season[season.year.isin([i+1]) & season.month.isin([1,2])]
    z = len(x[x.TN > percentil]) + len(y[y.TN > percentil])
    r.append(z)
    i += 1
  return r

In [42]:
def warm_days_TX (percentil,year_i,year_f,season):
  i = year_i 
  warm_day = []
  while i < year_f:
    year = season[season.year.isin([i])]
    days = len(year[year.TX > percentil])
    
    warm_day.append(days)
    
    i += 1 
  return warm_day
def winter_warm_d_TX(percentil,i,f,season):
  r = [0]
  while i < f:
    x = season[season.year.isin([i]) & season.month.isin([12])]
    y = season[season.year.isin([i+1]) & season.month.isin([1,2])]
    z = len(x[x.TX > percentil]) + len(y[y.TX > percentil])
    r.append(z)
    i += 1
  return r

Cold days

In [43]:
def cold_days_TN (percentil,year_i,year_f,season):
  i = year_i 
  cold_day = []
  while i < year_f:
    year = season[season.year.isin([i])]
    days = len(year[year.TN < percentil])
    
    cold_day.append(days)
    
    i += 1 
  return cold_day
def winter_cold_d_TN(percentil,i,f,season):
  r = [0]
  while i < f:
    x = season[season.year.isin([i]) & season.month.isin([12])]
    y = season[season.year.isin([i+1]) & season.month.isin([1,2])]
    z = len(x[x.TN < percentil]) + len(y[y.TN < percentil])
    r.append(z)
    i += 1
  return r

In [44]:
def cold_days_TX (percentil,year_i,year_f,season):
  i = year_i 
  cold_day = []
  while i < year_f:
    year = season[season.year.isin([i])]
    days = len(year[year.TX < percentil])
    
    cold_day.append(days)
    
    i += 1 
  return cold_day
def winter_cold_d_TX(percentil,i,f,season):
  r = [0]
  while i < f:
    x = season[season.year.isin([i]) & season.month.isin([12])]
    y = season[season.year.isin([i+1]) & season.month.isin([1,2])]
    z = len(x[x.TX < percentil]) + len(y[y.TX < percentil])
    r.append(z)
    i += 1
  return r

In [47]:
df['tn_warm_d_spring'] = warm_days_TN(spring_tn90,1950,2020,spring)
df['tx_warm_d_spring'] = warm_days_TX(spring_tx90,1950,2020,spring)
df['tn_warm_d_summer'] = warm_days_TN(summer_tn90,1950,2020,summer)
df['tx_warm_d_summer'] = warm_days_TX(summer_tx90,1950,2020,summer)
df['tn_warm_d_fall'] = warm_days_TN(fall_tn90,1950,2020,fall)
df['tx_warm_d_fall'] = warm_days_TX(fall_tx90,1950,2020,fall)
df['tn_warm_d_winter'] = winter_warm_d_TN(winter_tn90,1950,2019,winter)
df['tx_warm_d_winter'] = winter_warm_d_TX(winter_tx90,1950,2019,winter)
df['tn_cold_d_spring'] = cold_days_TN (winter_tn10,1950,2020,spring)
df['tx_cold_d_spring'] = cold_days_TX(winter_tx10,1950,2020,spring)
df['tn_cold_d_summer']= cold_days_TN (summer_tn10,1950,2020,summer)
df['tx_cold_d_summer'] = cold_days_TX(summer_tx10,1950,2020,summer)
df['tn_cold_d_fall']= cold_days_TN (fall_tn10,1950,2020,fall)
df['tx_cold_d_fall']= cold_days_TX (fall_tx10,1950,2020,fall)
df['tn_cold_d_winter'] = winter_cold_d_TN(winter_tn90,1950,2019,winter)
df['tx_cold_d_winter'] = winter_cold_d_TX(winter_tx90,1950,2019,winter)

In [51]:
df.to_excel("days_madrid.xlsx",sheet_name='Madrid',index=None)